<form data-ng-submit="save({lyric: lyric})">
  <button type="submit" data-ng-disabled="newNoteForm.$invalid">{{saveButtonText}}</button>
  <button type="button" data-ng-click="lyric.editing = false">Cancel</button>
  <button type="button" data-ng-show="existing" data-ng-click="del({lyric: lyric})">Delete</button><br>
  <label for "id_lyricTitle">Title: 
    <input  type="text" 
            name="lyricTitle" id="id_lyricTitle" 
            required data-ng-model="lyric.title"></label> 
  <label for "id_lyricAuthor">Author: 
    <input  type="text" 
            name="lyricAuthor" id="id_lyricAuthor" 
            data-ng-model="lyric.author" placeholder="Anonymous"></label><br>
  <label for "id_lyricChorus">Chorus: <br>
    <textarea name="lyricChorus" id="id_lyricChorus" 
            data-ng-model="lyric.chorus" 
            ng-trim="false" 
            cols="60" rows="4"></textarea></label><br>
  <label for "id_lyricVerse">Verse: (insert blank line between stanzas) <br>
      <textarea name="lyricVerse" id="id_lyricVerse" 
            data-ng-model="lyric.verse" 
            ng-trim="false" ng-list="&#10;&#10;" 
            cols="60" rows="8"></textarea></label><br>
</form>
