<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .newLyricForm { width 100%; }
    .newLyricForm label { width: 20em; display: inline-block; }
    .newLyricForm input[type="text"] { margin-left: 1em; width: 18em; }
    .newLyricForm textarea { margin-left: 1em; width: 46em; }
    .lyricList li { min-height: 1.5em; }
    .lyricListTitle { width: 20%; }
    .lyricListAuthor { width: 60%; }
    .lyricListEdit { width: 10%; float: right; }
    .pendingDelete { text-decoration: line-through; }
  </style>
</head>
<body data-ng-app="lyricsApp">
  <main data-ng-controller="LyricsController" data-ng-init="getAll()">  <!-- maps to $scope.getAll() in ctrlr -->
    <h1>Lyrics</h1>
    <form class="newLyricForm" data-ng-submit="createLyric(newLyric)" 
          ng-show="newLyric.editing" method="POST" enctype="application/json">
      <label for "id_lyricTitle">Title: 
        <input type="text" name="lyricTitle" id="id_lyricTitle" required 
              data-ng-model="newLyric.title"></label> 
      <label for "id_lyricAuthor">Author: 
        <input type="text" name="lyricAuthor" id="id_lyricAuthor" 
              data-ng-model="newLyric.author" placeholder="Anonymous"></label><br>
      <label for "id_lyricChorus">Chorus: 
        <textarea name="lyricChorus" id="id_lyricChorus" 
              data-ng-model="newLyric.chorus" cols="60" rows="4"></textarea></label><br>
      <label for "id_lyricVerse">Verse: (insert blank line between stanzas)
          <textarea name="lyricVerse" id="id_lyricVerse" 
              data-ng-model="newLyric.verse" ng-trim="false" ng-list="&#10;&#10;" 
              cols="60" rows="8"></textarea></label><br>
      <button type="submit" data-ng-disabled="newNoteForm.$invalid">Submit New Lyric</button>
      <button type="button" data-ng-click="newLyric.editing = false">Cancel</button>
    </form>
    <button class="newLyricEdit" data-ng-hide="newLyric.editing" data-ng-click="newLyric.editing = true">Add a Lyric</button>
    <ul class="lyricList">
      <li data-ng-repeat="lyric in lyrics" class="{{lyric.deleteStyle}}"> <!-- maps to $scope.lyrics in JS -->
        <span data-ng-hide="lyric.editing" width="100%">
          <span class="lyricListTitle">{{lyric.title}}</span> &mdash;  
          <span class="lyricListAuthor">{{lyric.author}}</span>
          <button class="lyricListEdit" data-ng-click="editLyric(lyric)">Edit</button>
        </span>
        <form class="newLyricForm" data-ng-submit="updateLyric(lyric)" 
              ng-show="lyric.editing" method="POST" enctype="application/json">
          <label for "id_lyricTitle">Title: 
            <input type="text" name="lyricTitle" id="id_lyricTitle" required 
                  data-ng-model="lyric.title"></label> 
          <label for "id_lyricAuthor">Author: 
            <input type="text" name="lyricAuthor" id="id_lyricAuthor" 
                  data-ng-model="lyric.author" placeholder="Anonymous"></label><br>
          <label for "id_lyricChorus">Chorus: 
            <textarea name="lyricChorus" id="id_lyricChorus" 
                  data-ng-model="lyric.chorus" cols="60" rows="4"></textarea></label><br>
          <label for "id_lyricVerse">Verse: (insert blank line between stanzas)
              <textarea name="lyricVerse" id="id_lyricVerse" 
                  data-ng-model="lyric.verse" ng-trim="false" ng-list="&#10;&#10;" 
                  cols="60" rows="8"></textarea></label><br>
          <button type="submit" data-ng-disabled="newNoteForm.$invalid">Save Changes</button>
          <button type="button" data-ng-click="cancelEdit(lyric)">Cancel</button>
          <button type="button" data-ng-click="deleteLyric(lyric)">Delete</button>
        </form>
      </li>
    </ul>
    <p>The lyrics server accepts and distributes JSON lyric objects in the format:</p>
    <blockquote><code>
      { title:  '',
        author: '',
        chorus: '',
        verse:  []
      }
    </code></blockquote>
    <p>To contribute a lyric, POST the JSON data as described above to
      <code>/api/lyrics</code><br>
      The 'title' attribute is required, and at least one of 
      'chorus' or 'verse' must be present. <br>
      The 'verse' attribute, if supplied, consists of an array of strings. <br>
      If 'author' is not supplied, it defaults to 'Anonymous'.</p>
    <p>To request a lyric, GET from 
      <code>/api/lyrics/[title]</code>
      where [title] is the 'title' attribute of the lyric being requested.</p>
    <p>To request all known lyrics, GET from
      <code>/api/lyrics</code>.
      The list of titles is supplied as an array of lyric objects.</p>
    <p>To correct an error in an existing lyric, PUT a corrected lyric object to 
      <code>/api/lyrics/[title]</code>
      where [title] indicates the lyric to be corrected.  If the supplied lyric
      object contains the 'title' attribute, it must match the title being corrected.</p>
    <p>To delete a lyric, DELETE at
      <code>/api/lyrics/[title]</code>
      where [title] is the 'title' attribute of the lyric being deleted.</p>
  </main>
  <script src="bundle.js"></script>
</body>
</html>
