<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    .newLyricForm { width 100%; }
    .newLyricForm label { width: 20em; display: inline-block; }
    .newLyricForm input[type="text"] { margin-left: 1em; width: 18em; }
    .newLyricForm textarea { margin-left: 1em; width: 46em; }
    .lyricList li { min-height: 1.5em; }
    .lyricListTitle { width: 20%; }
    .lyricListAuthor { width: 60%; }
    .lyricListEdit { width: 10%; float: right; }
    .pendingDelete { text-decoration: line-through; }
  </style>
</head>
<body data-ng-app="lyricsApp">
  <main data-ng-controller="LyricsController" data-ng-init="getAll()">
    <h1>Lyrics</h1>
    <h4 class="errorMsg">{{errorMsg}}</h4>
    <button class="newLyricEdit" data-ng-hide="newLyric.editing"
            data-ng-click="newLyric.editing = true">Add a Lyric</button>
    <div  data-lyric-edit data-save="createLyric(lyric)" data-lyric="newLyric"
          data-ng-if="newLyric.editing" data-del="deleteLyric(lyric)"
          data-existing=false data-save-button-text="Submit New Lyric">
    </div>

    <ul class="lyricList">
      <li data-ng-repeat="lyric in lyrics" class="{{lyric.deleteStyle}}">
        <span data-ng-hide="lyric.editing" width="100%">
          <span class="lyricListTitle">{{lyric.title}}</span> &mdash;  
          <span class="lyricListAuthor">{{lyric.author}}</span>
          <button class="lyricListEdit" data-ng-click="editLyric(lyric)">Edit</button>
        </span>
        <div  data-lyric-edit data-save="updateLyric(lyric)" data-lyric="lyric"
              data-ng-if="lyric.editing" data-del="deleteLyric(lyric)"
              data-existing=true data-save-button-text="Update Lyric">
        </div>
      </li>
    </ul>

    <button data-ng-click="showUsage = !showUsage">How to Use the Lyrics Server</button><br>
    <article data-usage data-ng-show="showUsage"></article>

  </main>
  <script src="bundle.js"></script>
</body>
</html>
